@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
      url('fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 30px;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row {
  display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(100%, 25%, 25%);
    border-radius: 10px;
    font-size: 50px;
    color: transparent;
    transform: rotateY(180deg);
    transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.open {
    transform: none;
    color: white;
    background-color: #FF7373;
}

.success {
  background-color: #FFA940;
  transform: scale(0.9);
}

.input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(53, 45, 45);
  height: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100px;
  font-size: 40px;
  text-align: center;
  color: rgb(53, 45, 45);
}

.title {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(53, 45, 45);
}

.btn {
  font-family: inherit;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 20px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(-180deg, #FF7373 0%, #f75050 100%);
  box-shadow:
              0 -0.25rem 1rem rgb(241, 104, 83) inset,
              0 0.75rem 0.5rem rgba(255, 255, 255, 0.555) inset,
              0 0.25rem 0.5rem 0 rgb(247, 223, 222) inset;
  transition: transform .3s ease-in-out;
}

.btn:hover:enabled {
  transform: scale(1.3);
}

.btn:disabled {
  cursor: auto;
  background-color: rgb(187, 179, 179);
  color: white;
}

.game__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
}

.block {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 18%;
    width: 790px;
    height: 560px;
    border-radius: 10px;
    background: rgba(252, 74, 74, 0.9);
    color: white;
    padding: 25px;
    animation: scale .3s ease-in-out;
}

@keyframes scale {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

.resetBtn {
  font-family: inherit;
  font-size: 40px;
  border-radius: 10px;
  border: none;
  padding: 25px;
  color: rgb(53, 45, 45);
  cursor: pointer;
}

.resetBtn:hover {
  background-color: white;
}
